<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<array>
		<string>12:00-15:00</string>
		<string>13:00-16:00</string>
		<string>14:00-17:00</string>
		<string>15:00-18:00</string>
		<string>16:00-19:00</string>
		<string>17:00-20:00</string>
		<string>18:00-21:00</string>
		<string>19:00-22:00</string>
		<string>20:00-23:00</string>
		<string>21:00-23:59</string>
		<string>22:00-次日6:00</string>
	</array>
</dict>
</plist>
