<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>城市名按拼音首字母排序</string>
		<string>阿勒泰</string>
		<string>安康</string>
		<string>阿克苏</string>
		<string>安庆</string>
		<string>澳门</string>
	</array>
	<key>B</key>
	<array>
		<string>包头</string>
		<string>北海</string>
		<string>保山</string>
		<string>北京</string>
	</array>
	<key>C</key>
	<array>
		<string>长春</string>
		<string>长治</string>
		<string>长沙</string>
		<string>昌都</string>
		<string>常德</string>
		<string>朝阳</string>
		<string>赤峰</string>
		<string>成都</string>
		<string>常州</string>
	</array>
	<key>D</key>
	<array>
		<string>大同</string>
		<string>达县</string>
		<string>丹东</string>
		<string>迪庆/香格里拉</string>
		<string>大连</string>
		<string>大理</string>
		<string>敦煌</string>
		<string>德宏/芒市</string>
	</array>
	<key>E</key>
	<array>
		<string>鄂尔多斯</string>
		<string>恩施</string>
	</array>
	<key>F</key>
	<array>
		<string>福州</string>
		<string>阜阳</string>
	</array>
	<key>G</key>
	<array>
		<string>广州</string>
		<string>格尔木</string>
		<string>广元</string>
		<string>高雄</string>
		<string>赣州</string>
		<string>贵阳</string>
		<string>桂林</string>
	</array>
	<key>H</key>
	<array>
		<string>海口</string>
		<string>黑河</string>
		<string>呼和浩特</string>
		<string>合肥</string>
		<string>杭州</string>
		<string>海拉尔</string>
		<string>呼兰浩特</string>
		<string>哈尔滨</string>
		<string>黄岩/路桥</string>
		<string>汉中</string>
		<string>黄山/屯西</string>
	</array>
	<key>J</key>
	<array>
		<string>景德镇</string>
		<string>嘉峪关</string>
		<string>吉林</string>
		<string>九江</string>
		<string>晋江</string>
		<string>佳木斯</string>
		<string>锦州</string>
		<string>九寨沟</string>
		<string>济南</string>
	</array>
	<key>K</key>
	<array>
		<string>库车</string>
		<string>喀什</string>
		<string>昆明</string>
		<string>库尔勒</string>
		<string>克拉玛依</string>
	</array>
	<key>L</key>
	<array>
		<string>兰州</string>
		<string>丽江</string>
		<string>临沧</string>
		<string>庐山</string>
		<string>拉萨</string>
		<string>洛阳</string>
		<string>连云港</string>
		<string>临沂</string>
		<string>柳州</string>
		<string>泸州</string>
	</array>
	<key>M</key>
	<array>
		<string>牡丹江</string>
		<string>绵羊</string>
		<string>梅县</string>
	</array>
	<key>N</key>
	<array>
		<string>南昌</string>
		<string>南充</string>
		<string>南苑</string>
		<string>宁波</string>
		<string>南京</string>
		<string>南宁</string>
		<string>南阳</string>
		<string>南通</string>
	</array>
	<key>P</key>
	<array>
		<string>攀枝花</string>
	</array>
	<key>Q</key>
	<array>
		<string>且末</string>
		<string>衢州</string>
		<string>齐齐哈尔</string>
		<string>青岛</string>
	</array>
	<key>S</key>
	<array>
		<string>上海浦东</string>
		<string>上海虹桥</string>
		<string>沈阳</string>
		<string>山海关/秦皇岛</string>
		<string>沙市</string>
		<string>石家庄</string>
		<string>汕头</string>
		<string>思茅</string>
		<string>三亚</string>
		<string>苏州</string>
		<string>深圳</string>
		<string>厦门/石狮</string>
	</array>
	<key>T</key>
	<array>
		<string>塔城</string>
		<string>铜仁</string>
		<string>通辽</string>
		<string>台北</string>
		<string>天津</string>
		<string>太原</string>
	</array>
	<key>W</key>
	<array>
		<string>乌鲁木齐</string>
		<string>潍坊</string>
		<string>威海</string>
		<string>温州</string>
		<string>武汉</string>
		<string>武夷山</string>
		<string>五台山</string>
		<string>梧州</string>
		<string>万县</string>
	</array>
	<key>X</key>
	<array>
		<string>香港</string>
		<string>西双版纳/景洪</string>
		<string>西安</string>
		<string>襄樊</string>
		<string>西昌</string>
		<string>锡林浩特</string>
		<string>西宁</string>
		<string>徐州</string>
	</array>
	<key>Y</key>
	<array>
		<string>延安</string>
		<string>永州</string>
		<string>银川</string>
		<string>榆林</string>
		<string>宜宾</string>
		<string>宜昌</string>
		<string>伊宁</string>
		<string>义乌</string>
		<string>延吉</string>
		<string>烟台</string>
	</array>
	<key>Z</key>
	<array>
		<string>郑州</string>
		<string>重庆</string>
		<string>张家界/大庸</string>
		<string>舟山/普陀山</string>
		<string>昭通</string>
		<string>湛江</string>
		<string>淄博</string>
	</array>
</dict>
</plist>
